@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 375px;
    width: 100%;
    min-height: 812px;
    height: 100%;
    background-color: #141414;
    font-family: 'Inter', sans-serif;
}

.card {
    width: 327px;
    height: 579px;
    background-color: #1F1F1F;
    border-radius: 12px;
    margin: 116.5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_picture {
    width: 88px;
    border-radius: 50%;
    margin: 24px 119px 0;
}

.card_name-location {
    width: 279px;
    height: 61px;
    text-align: center;
    margin: 24px;
}

.card_name {
    width: 100%;
    height: 36px;
    font-size: 24px;
    line-height: 150%;
    color: white;
    margin-bottom: 4px;
}

.card_location {
    width: 100%;
    height: 21px;
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
    color: #C4F82A;
    letter-spacing: 1px;
}

.card_bio {
    font-size: 14px;
    line-height: 150%;
    color: white;
    text-align: center;
}

.card_links {
    width: 279px;
    height: 289px;
    margin: 24px 24px 3px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button {
    width: 100%;
    height: 45px;
    background-color: #333333;
    border: none;
    border-radius: 8px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.card_footer {
    color: #C4F82A;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 2px;
}

@media (min-width: 768px) {
    body {
        width: 100%;
        height: 1024px;
    }

    .card {
        width: 384px;
        height: 611px;
        margin: 206.5px auto;
    }

    .card_picture {
        margin: 40px 143px 0;
    }

    .card_name-location {
        width: 304px;
        height: 61px;
        margin: 24px auto;
    }

    .card_name {
        font-size: 24px;
        line-height: 150%;        
    }

    .card_location {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 1px;
    }

    .card_links {
        width: 304px;
        height: 289px;
        margin: 24px 40px 8px;
    }

    .card_footer {
        color: #C4F82A;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 2px;
    }
}

@media (min-width: 1440px) {
    body {
        width: 100%;
        height: 960px;
    }

    .card {
        width: 384px;
        height: 611px;
        margin: 174.5px auto;
    }

    .card_picture {
        margin: 40px 148px 24px;
    }

    .card_name-location {
        margin: 0 40px 24px;
    }

    .card_location {
        letter-spacing: 1px;
    }

    .card_links {
        width: 304px;
        height: 289px;
        margin: 24px 40px 8px;
    }

    .social:hover {
        background-color: #C4F82A;
        color: black;
    }

    .card_footer {
        color: #C4F82A;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 2px;
    }
}