@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 90rem;
    width: 100%;
    height:60rem;
    background-color: #141414;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 24rem;
    height: 38.188rem;
    background-color: #1F1F1F;
    border-radius: 0.75rem;
    margin: 0 a;
}

.card_header {
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_picture {
    width: 5.5rem;
    border-radius: 50%;
    margin: 2.5rem 8.938rem 0;
}

.card_name-location {
    width: 19rem;
    height: 3.813rem;
    text-align: center;
    margin: 1.5rem 2.5rem;
}

.card_name {
    width: 100%;
    height: 2.25rem;
    font-size: 1.5rem;
    line-height: 150%;
    color: white;
    margin-bottom: 4px;
}

.card_location {
    width: 100%;
    height: 1.313rem;
    font-size: 0.875rem;
    line-height: 150%;
    font-weight: bold;
    color: #C4F82A;
    letter-spacing: 1px;
}

.card_bio {
    width: 19rem;
    height: 1.313rem;
    font-size: 0.875rem;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 0 2.5rem 1.5rem;
}

.card_main {
    width: 24rem;
    height: 18.063rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_links {
    width: 19rem;
    height: 18.063rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social:hover {
        background-color: #C4F82A;
        color: black;
    }

.button {
    width: 100%;
    height: 2.813rem;
    background-color: #333333;
    border: none;
    border-radius: 0.5rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 150%;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.card_footer {
    width: 24rem;
    height: 2.5rem;
    color: #C4F82A;
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 48rem) {
    body {
        width: 48rem;
        height: 64rem;
    }

    .card {
        width: 24rem;
        height: 38.188rem;
    }
}

@media (max-width: 23.438rem) {
    body {
        width: 23.438rem;
        height: 50.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 20.438rem;
        height: 36.188rem;
    }

    .card_header {
        width: 20.438rem;
    }

    .card_main {
        width: 20.438rem;
    }

    .card_footer {
        width: 20.438rem;
    }
}