@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #141414;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width:  375px;
    height: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 327px;
    height: 579px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F1F1F;
    border-radius: 0.75rem;
}

.card_header {
    width: 100%;
    height: 218px;
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_picture {
    width: 88px;
    border-radius: 50%;
}

.card_name-location {
    width: 279px;
    height: 61px;
    margin: 24px 0;
    text-align: center;
}

.card_name {
    width: 279px;
    height: 36px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 150%;
}

.card_location {
    widows: 279px;
    height: 21px;
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
    color: #C4F82A;
}

.card_bio {
    width: 279px;
    height: 21px;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}

.card_main {
    width: 100%;
    height: 289px;
}

.card_links {
    width: 279px;
    height: 289px;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.button {
    width: 279px;
    height: 45px;
    background-color: #333333;
    border: none;
    border-radius: 0.5rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 150%;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.social:hover {
        background-color: #C4F82A;
        color: black;
    }

.card_footer {
    width: 100%;
    height: 24px;
    color: #C4F82A;
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 376px) {
    .container {
        width: 768px;
        height: 1024px;
    }

    .card {
        width: 384px;
        height: 611px;
    }

    .card_header {
        width: 304px;
        height: 234px;
        margin-top: 40px;
    }

    .card_name-location {
        width: 304px;
    }

    .card_name {
        width: 304px;
    }

    .card_bio {
        width: 304px;
    }

    .card_main {
        width: 304px;
        height: 289px;
    }

    .card_links {
        width: 304px;
        margin: 0;
    }

    .card_footer {
        width: 304px;
        height: 40px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1440px;
        height: 960px;
    }
}